.container {
    display: grid;
    grid-template-columns: 0.6fr 1.8fr 0.6fr;
    grid-template-rows: 0.4fr 0.2fr 3fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
    "header header header"
    ". menu ."
    ". main ."
    "footer footer footer";
}

.header {
    grid-area: header;
    text-align: center;
    vertical-align: center;
    background-color: darkorange;
    font-family: Helvetica;
    font-size: 20pt;
    padding: 20px;
}

.menu {
    grid-area: menu;
    background-color: darkgoldenrod;
}

.menu a {
    vertical-align: center;
    padding: 20px;
    font-family: Helvetica;
    color: white;
    text-decoration: none;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: darkorange;
    text-align: center;
    font-family: "Arial Black"
}


html, body, .container {
    height: 100%;
    margin: 0;
}

.product {
    display: grid;
    grid-template-columns: 200px 1.7fr 0.7fr;
    grid-template-rows: 200px 30px;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
    "image name price"
    "image buttons price";
}

.price {
    grid-area: price;
}

.image {
    grid-area: image;
}

.image img {
    max-height: 200px;
    max-width: 200px;
}

.name {
    grid-area: name;
}

.buttons {
    grid-area: buttons;
}
