<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="container">
    <div class="header">Мой блог</div>
    <div class="menu">
        <a href="{% url 'post_list' %}">Главная</a>
        <a href="{% url 'about' %}">Обо мне</a>
    </div>
    <div class="main">
        <h1>{% block title %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <p>© 2025 Мой блог</p>
    </div>
</div>

</body>
</html>